.App {
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.forgot_pw_btn {

  --bs-btn-color: #fff;
  --bs-btn-bg: purple;
  --bs-btn-border-color: purple;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: purple;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: purple;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
  text-decoration: white;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}